{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Register Your Account</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {{ include('MetaLeagueSiteBundle:Registration:left_teaser.html.twig') }}
                </div>


                <div class="col-md-6">
                    <div class="formy well">

                        <h4 class="title">Register Your Account</h4>

                        {% include "FOSUserBundle:Registration:register_content.html.twig" %}

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock fos_user_content %}