{% extends 'MetaLeagueFantasyBundle:Templates:base.html.twig' %}

{% block title %}MetaLeagueFantasyBundle:League:create{% endblock %}

{% block body %}

<h1>Welcome to the League:create page</h1>
{{ form(form) }}

{% endblock %}
