{% extends 'MetaLeagueFantasyBundle:Templates:base.html.twig' %}

{% block title %}MetaLeagueFantasyBundle:League:invite{% endblock %}

{% block body %}

<h1>Welcome to the League:invite page</h1>

{% endblock %}
