{% extends 'MetaLeagueFantasyBundle:Templates:base.html.twig' %}

{% block title %}MetaLeagueFantasyBundle:League:create{% endblock %}

{% block body %}

<h1>Welcome to the League:view page</h1>

{% endblock %}
